{% extends 'add_course.html' %}
{% block add_course_form %}
{% load static %}
<div class="full-size col-11 col-md-10 col-lg-10">
    <div class="rows">
        <div class="cs" id="cs">
            <h1 id="num">01</h1>
        </div>
        <h1 id="headder" class="headder">Start new course</h1>
    </div>
    <div class="rows" id="row1">
        <div class="line" id="line">
        </div>
        <div class="forms col-9 col-md-10 col-lg-9" id="forms">
            <form method="POST" action="addcourse" id="form01">
                {% csrf_token %}
                <input type="text" name="cname" id="cname" class="form-control form-item"
                    placeholder=" enter course name " required />
                <div class="form-group" style="display:inline-flex;width: 100%;">
                    <input type="number" name="time" id="time" class="form-control form-item"
                        placeholder="time to complet" style="width: 80%;">
                    <select name="duration" class="form-control form-item choose" id="dr" required>
                        <option selected>Time</option>
                        <option value="m">minuts</option>
                        <option value="h">hours</option>
                        <option value="d">Day</option>
                        <option value="w">Week</option>
                        <option value="m">Month</option>
                        <option value="y">Year</option>
                    </select>
                </div>
                <textarea class="form-control form-item" name="editor1" id="discriptions" cols="40" rows="5"
                    placeholder="Course discription..."></textarea>
                <div class="form-group" style="display:inline-flex;width: 100%;">
                    <input type="text" name="skils" id="skils" class="form-control form-item" placeholder="skils"
                        style="width: 80%;" />
                        </div>
                    <p class="text-muted">Seperate with comas</p>
                <div class="rows" id="rows">
                    <div class="cs bg-secondary" id="cs2">
                        <h1 id="num">02</h1>
                    </div>
                    <h3 id="headder" class="text-muted headder" style="margin-top: .6rem;">Frequently Asked Questions</h3>
                </div>
                <div class="rows" id="row3">
                    <div class="line" id="line3">
                </div > 
                <div class="list-div">
                <ul>
                    <li>
                        <div class="row">
                            <div><u>Q.1</u></div>
                            <p class="text-muted qust">Is this course really 100% online? Do I need to attend any classes in
                                person?</p>
                        </div>
                        <textarea class="form-control form-item" name="tac1" cols="40" rows="5"
                            placeholder="Write here...."></textarea>
                    </li>
                    <li>
                        <div class="row">
                            <div class="Q"><u>Q.2</u></div>
                            <p class="text-muted qust">What background knowledge is necessary?</p>
                        </div>
                        <textarea class="form-control form-item" name="tac2" cols="40" rows="5"
                            placeholder="Write here...."></textarea>
                    </li>
                    <li>
                        <div class="row">
                            <div class="Q"><u>Q.3</u></div>
                            <p class="text-muted qust">Which jobs does this program prepare for?</p>
                        </div>
                        <textarea class="form-control form-item" name="tac3" cols="40" rows="5"
                            placeholder="Write here...."></textarea>
                    </li>
                    <li>
                        <div class="row">
                            <div class="Q"><u>Q.4</u></div>
                            <p class="text-muted qust">What will I be able to do upon completing the professional
                                certificate?</p>
                            </div>
                            <textarea class="form-control form-item" name="tac4" cols="40" rows="5"
                                placeholder="Write here...."></textarea>
                    </li>
                    <li>
                        <div class="row">
                            <div class="Q"><u>Q.5</u></div>
                            <p class="text-muted qust">Why did create this program?</p>
                        </div>
                        <textarea class="form-control form-item" name="tac5" cols="40" rows="5"
                            placeholder="Write here...."></textarea>
                    </li>
                </ul>
                <input class="btn btn-primary" type="submit" name="submit" value="Create" style="margin-left: 2rem;">
            </div>
            </form>
        </div>
        </div> 
    </div>
</div>
{% endblock %}