{% extends 'add_course.html' %}
  {% block add_course_form %}
  {% load static %}
     <form action="addcourse" method="post">
     {% csrf_token %}
                <input type="text" name="cname" id="" placeholder=" enter course name " required/><br/>
                <input type="number" name="time" id="" placeholder="time to complet" required>
                <select name="duration" id="">
                    <option value="m">minuts</option>
                    <option value="h">hours</option>
                    <option value="d">Day</option>
                    <option value="w">Week</option>
                    <option value="m">Month</option>
                    <option value="y">Year</option>
                </select><br>
                <textarea name="dis" id="" cols="40" rows="5"></textarea><br>
                <input type="text" name="skils" id="" placeholder="skils"/>
                <input type="submit" value="submit">
            </form>
  {% endblock %}