{% extends 'course_management.html' %}
{% block management %}
<div class="container" style="height:max-content;min-height: 100vh;">
  {% if messages %}
  {% for message in messages %}
  <div  style="background-color: red;color: #fff; padding: .5rem;">
    {{ message }} 
  </div>
  {% endfor %}
  {% endif %}
  <div>
    <h3>Update Content</h3>
    {% for item in data.week %}
   <a class="btn btn-info" href="{{item.week_id}}">Week {{ forloop.counter }}</a> 
    {% endfor %}
  </div>
  <br>
  <div class="weekView">
    {% block week_content %}
      
      {% endblock %}   
  </div>

  {% include "course_update.html" %}
  
</div>
{% endblock %}