{% extends 'course_management.html' %} {% block management %} {% load static %}
<style>
  .mbtn {
    margin: 0.5rem;
    margin-top: 0.5rem;
  }

  .colapslink {
    width: fit-content !important;
    margin: 0;
    padding: 0;
  }
  input{
    margin-bottom: .5rem;
  }
</style>
<div class="container" style="height:max-content;min-height: 100vh;">
  <div class="row g-3 align-items-center">
    <h3>Add Countents</h3>
    <div class="dropdown col-md-4 mbtn">
        <button
          class="btn btn-outline-primary dropdown-togglec"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select Content Type
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li onclick="activity(1)">
            <a
              class="dropdown-item"
              data-bs-toggle="collapse"
              href="#collapse01"
              id="link01"
              role="button"
              aria-expanded="false"
              >Text content</a
            >
          </li>
          <li onclick="activity(2)">
            <a
              class="dropdown-item"
              data-bs-toggle="collapse"
              href="#collapse02"
              id="link02"
              role="button"
              aria-expanded="false"
              >Image content</a
            >
          </li>
          <li onclick="activity(4)">
            <a
              class="dropdown-item"
              data-bs-toggle="collapse"
              href="#collapse04"
              id="link04"
              role="button"
              aria-expanded="false"
              >Video content</a
            >
          </li>
        </ul>
      </div>
      
      <div class="row">
        <div class="collapse" id="collapse01">
        <form action="add/text" method="POST">
        {% csrf_token %}
        <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="short title about the content"
        />
      </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor1"
              id="Text-content"
              cols="40"
              rows="5"
              placeholder="Add content..."
            ></textarea>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor2"
              id="Text-content"
              cols="40"
              rows="5"
              placeholder="Add references"
            ></textarea>
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time"
              class="form-control"
              id="time"
              placeholder="Time to complete"
            />
          </div>
         <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
        </form>
        </div>
        <div class="collapse" id="collapse02">
          <form action="add/image" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="title1"
          name="title1"
          placeholder="short title about the content"
        />
      </div>
          <div class="mb-3">
            <input type="file" name="image" class="form-control" id="image" />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor3"
              id="image-content"
              cols="40"
              rows="5"
              placeholder="Add content..."
            ></textarea>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor4"
              id="Text-content2"
              cols="40"
              rows="5"
              placeholder="Add references"
            ></textarea>
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time1"
              class="form-control"
              id="time1"
              placeholder="Time to complete"
            />
          </div>
          <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
          </form>
        </div>
        <div class="collapse" id="collapse03">3</div>
        <div class="collapse" id="collapse04">
          <form action="add/video" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="title3"
          name="title3"
          placeholder="short title about the content"
        />
      </div>
          <div class="mb-3">
            <input type="file" name="video" class="form-control" id="video" />
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time2"
              class="form-control"
              id="time2"
              placeholder="Time to complete"
            />
          </div>
          <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
        </div>
      </div>
    </form>
  </div>
  {% include "course_update.html" %}
  
</div>
<script>
  let count = 0;
  let link01 = document.getElementById("link01");
  let link02 = document.getElementById("link02");
  let link03 = document.getElementById("link03");
  let link04 = document.getElementById("link04");
  let active;
  function activity(n) {
    if (count != 0) {
      count = 0;
      if (active == 1) {
        console.log(active);
        link01.click();
      } else if (active == 2) {
        console.log(active);
        link02.click();
      } else if (active == 3) {
        link03.click();
        console.log(active);
      } else {
        link04.click();
        console.log(active);
      }
    } else {
      count = count + 1;
    }
    active = n;
  }
</script>
{% endblock %}
