{% extends 'course_management.html' %} {% block management %} {% load static %}
<style>
  .mbtn {
    margin: 0.5rem;
  }

  .colapslink {
    width: fit-content !important;
    margin: 0;
    padding: 0;
  }
</style>
<div class="container" style="height: 100vh">
  <div class="row g-3 align-items-center">
    <h3>Add Countents</h3>
    <form action="" method="POST">
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="short title about the content"
        />
      </div>
      <div class="row">
        <a
          class="colapslink"
          style="text-decoration: none"
          data-bs-toggle="collapse"
          href="#collapse01"
          role="button"
          aria-expanded="false"
        >
          <div class="btn btn-info mbtn">Text content</div>
        </a>
        <a
          style="text-decoration: none"
          class="colapslink"
          data-bs-toggle="collapse"
          href="#collapse02"
          role="button"
          aria-expanded="false"
        >
          <div class="btn btn-outline-info mbtn">Image content</div>
        </a>
        <a
          style="text-decoration: none"
          class="colapslink"
          data-bs-toggle="collapse"
          href="#collapse03"
          role="button"
          aria-expanded="false"
        >
          <div class="btn btn-info mbtn">Image with Text</div>
        </a>
        <a
          style="text-decoration: none"
          class="colapslink"
          data-bs-toggle="collapse"
          href="#collapse04"
          role="button"
          aria-expanded="false"
        >
          <div class="btn btn-outline-info mbtn">Video content</div>
        </a>
      </div>
      <div class="row">
        <div class="collapse" id="collapse01">
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor1"
              id="Text-content"
              cols="40"
              rows="5"
              placeholder="Add content..."
            ></textarea>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor2"
              id="Text-content"
              cols="40"
              rows="5"
              placeholder="Add references"
            ></textarea>
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time"
              class="form-control"
              id="time"
              placeholder="Time to complete"
            />
          </div>
        </div>

        <div class="collapse" id="collapse02">
          <div class="mb-3">
            <input type="file" name="image" class="form-control" id="image" />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor1"
              id="image-content"
              cols="40"
              rows="5"
              placeholder="Add content..."
            ></textarea>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor2"
              id="Text-content"
              cols="40"
              rows="5"
              placeholder="Add references"
            ></textarea>
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time"
              class="form-control"
              id="time"
              placeholder="Time to complete"
            />
          </div>
        </div>
        <div class="collapse" id="collapse03">3</div>
        <div class="collapse" id="collapse04">
          <div class="mb-3">
            <input type="file" name="image" class="form-control" id="image" />
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time"
              class="form-control"
              id="time"
              placeholder="Time to complete"
            />
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
      <div class="btn btn-outline-primary mbtn">Start new week</div>
    </form>
  </div>
</div>
{% endblock %}
