{% extends 'te_dash.html' %}
{% block cardview %}
{% load static %}
<div>
    <div class="course">
      <div class="container-fluid course-preview col-12 col-sm-6 col-md-5 col-lg-3">
        <h6>Course</h6>
        <h2>JavaScript Fundamentals</h2>
        <a href="#">View all chapters<i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="course-info">
        <div class="progress-container">
          <div class="progress"></div>
          <span class="progress-text">
            6/9 Challenges
          </span>
        </div>
        <h6>Chapter 4</h6>
        <h2>Callbacks & Closures</h2>
        <button class="btn">Continue</button>
      </div>
    </div>
</div>
{% endblock %}