{% extends 'tea_theme.html' %}
  {% block content %}
    {% load static %}
    <nav class="navbar navbar-light" style="margin: 2rem;margin-top: 0rem;">
        <a class="navbar-brand" href="#" >
          <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
          My Courses
        </a>
    </nav>
    <div class="container-fluid">
      {% if courses %}
        <div class="table-container" style="margin-left: 1.5rem;">
          <h2>Certification Courses</h2>
          <table class="table table-hover">
              <tr>
                <th class="table-primary" scope="col">#</th>
                <th class="table-primary" scope="col">Course ID</th>
                <th class="table-primary" scope="col">Course Name</th>
                <th class="table-primary" scope="col">Enroled</th>
                <th class="table-primary" scope="col">Completed</th>
                <th class="table-primary" scope="col">Rating</th>
                <th class="table-primary" scope="col">Link <span class="text-muted" style="font-size:13px;">  (click to copy)</span></th>
              </tr>
              {% for course in courses %}
              
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td onclick="courseSelection({{course.course_id}})">{{course.course_id}}</td>
                <td onclick="courseSelection({{course.course_id}})">{{course.name}}</td>
                <td onclick="courseSelection({{course.course_id}})">{{course.enroled}}</td>
                <td onclick="courseSelection({{course.course_id}})">{{course.completed}}</td>
                <td onclick="courseSelection({{course.course_id}})">{{course.rating}}</td>
                <td onclick="LinkCopy({{course.course_id}},1)">http://127.0.0.1:8000/course/{{course.course_id}}</td>
              </tr>
              {% endfor %}
          </table>
          <div class="table-container">
            <h2>Regular class</h2>
            <table class="table table-hover">
                <tr>
                  <th class="table-primary" scope="col">#</th>
                  <th class="table-primary" scope="col">Institution</th>
                  <th class="table-primary" scope="col">Subject ID</th>
                  <th class="table-primary" scope="col">Subject Name</th>
                  <th class="table-primary" scope="col">Enroled</th>
                  <th class="table-primary" scope="col">class & div</th>
                  <th class="table-primary" scope="col">shareable ID <span class="text-muted" style="font-size:13px;">  (click to copy)</span></th>
                </tr>
                {% for class in rclass %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{class.institution}}</td>
                    <td>{{class.class_id}}</td>
                    <td>{{class.name}}</td>
                    <td>{{class.enroled}}</td>
                    <td>{{class.classDiv}}</td>
                    <td><input type="password" value="{{class.hash}}" style="background-color:rgba(255, 255, 240, 0)" onclick="LinkCopy('{{class.hash}}',2)" readonly/></td>
                  </tr>
                  {% endfor %}

        </div>
        {% else %}
        <div class="img-container" style="height: 100vh;display: grid;justify-content: center; align-items: center;">
          <img src="{% static 'images/empty.jpg' %}" style="height:300px; width: 300px; border-radius: 20px;">
          <button class="btn btn-primary"> Start a course now</button>
        </div>
        {% endif %}
    </div>
    <script>
      function courseSelection(id){
        window.location = "/te/mycourse/"+id;
      }
      function LinkCopy(id,n){
        if (n==1){
          navigator.clipboard.writeText("http://127.0.0.1:8000/course/"+id);
          alert("link copied");
        }else {
          navigator.clipboard.writeText(id);
          alert("Shareable ID copied");
        }
         
         
      }
    </script>

    {% endblock %}