{% extends 'tea_theme.html' %}
  {% block content %}
    {% load static %}
    <nav class="navbar navbar-light" style="margin: 2rem;margin-top: 0rem;">
        <a class="navbar-brand" href="#" >
          <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
          My Courses
        </a>
    </nav>
    <div class="container-fluid">
      {% if courses %}
        <div class="table-container" style="margin-left: 1.5rem;">
          <h2>Certification Courses</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="table-primary" scope="col">#</th>
                <th class="table-primary" scope="col">Course ID</th>
                <th class="table-primary" scope="col">Course Name</th>
                <th class="table-primary" scope="col">Enroled</th>
                <th class="table-primary" scope="col">Completed</th>
                <th class="table-primary" scope="col">Rating</th>
                <th class="table-primary" scope="col">Link</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              
              <tr onclick="courseSelection({{course.course_id}})">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{course.course_id}}</td>
                <td>{{course.name}}</td>
                <td>{{course.enroled}}</td>
                <td>{{course.completed}}</td>
                <td>{{course.rating}}</td>
                <td onclick="LinkCopy({{course.course_id}})">http://127.0.0.1:8000/course/{{course.course_id}}</td>
                <td><Button class="btn btn-danger">delete</Button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="table-container">
            <h2>Regular class</h2>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="table-primary" scope="col">#</th>
                  <th class="table-primary" scope="col">Subject ID</th>
                  <th class="table-primary" scope="col">Subject Name</th>
                  <th class="table-primary" scope="col">Enroled</th>
                  <th class="table-primary" scope="col">lessons</th>
                  <th class="table-primary" scope="col">tests</th>
                  <th class="table-primary" scope="col">Link</th>
                  
                  <th scope="col"></th>
                </tr>
              </thead>
              <thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>http://127.0.0.1:8000/course/{{course.course_id}}</td>
                    <td><Button class="btn btn-danger">delete</Button></td>
                  </tr>
              </thead>

        </div>
        {% else %}
        <div class="img-container" style="height: 100vh;display: grid;justify-content: center; align-items: center;">
          <img src="{% static 'images/empty.jpg' %}" style="height:300px; width: 300px; border-radius: 20px;">
          <button class="btn btn-primary"> Start a course now</button>
        </div>
        {% endif %}
    </div>
    <script>
      function courseSelection(id){
        window.location = "/te/mycourse/"+id;
      }
      function LinkCopy(id){
         navigator.clipboard.writeText("http://127.0.0.1:8000/course/"+id);
         
      }
    </script>

    {% endblock %}