{% extends 'course_management.html' %}
{% block management %}
{% load static %}
<div class="container">
     <h4><u>Students Over View </u></h4>  
     <table>
          <table class="table table-hover">
              <thead>
                    <th class="table-primary" scope="col">#</th>
                    <th class="table-primary" scope="col">Course ID</th>
                    <th class="table-primary" scope="col">Course Name</th>
                    <th class="table-primary" scope="col">Enroled</th>
                    <th class="table-primary" scope="col">Completed</th>
                    <th class="table-primary" scope="col">Rating</th>
                    <th class="table-primary" scope="col">Link</th>
              </thead>
              <tbody>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
              </tbody>
     </table>
</div>
{% endblock %}