{% extends 'add_content.html' %}
  {% block week_content %}
<style>
  .mbtn {
    margin: 0.5rem;
    margin-top: 0.5rem;
  }
  div{
    margin-top: .5rem;
  }
  .colapslink {
    width: fit-content !important;
    margin: 0;
    padding: 0;
  }
  input{
    margin-bottom: .5rem;
  }
  .hideitem{
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  h6{
    margin-top: .6rem;
  }
  #week-overview{
    margin-left: 1rem;
    margin-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .content-btn{
    background-image: linear-gradient(#48cae4,#caf0f8);
  }
  .content-btn:hover{
    background-image: linear-gradient(#caf0f8,#48cae4);
  }
  .content-card {
    border-radius: 20px;
    margin: .3rem;
    padding: 1rem;
  }
</style>
<div class="container" style="height:min-content;min-height: fit-content;">
  {% if messages %}
  {% for message in messages %}
  <div  style="background-color: red;color: #fff; padding: .5rem;">
    {{ message }} 
  </div>
  {% endfor %}
  {% endif %}
  <div class="row g-3 align-items-center">
    <h3>Add Countents</h3>
        <h6>Select Content Type</h6>
        <div class="row">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="text" class="btn content-btn"> Text content
              <input type="radio" name="content" value="1" style="visibility:hidden;" id="text" class="btn content-btn" onclick="changeFourm(1)" />
            </label>
            <label for="img" class="btn content-btn">Image content
              <input type="radio" name="content" value="2" style="visibility:hidden;" id="img" onclick="changeFourm(2)" />
            </label>
            <label for="video" class="btn content-btn">Video content
              <input type="radio" name="content" value="3" id="video" style="visibility:hidden;" onclick="changeFourm(3)" />
            </label>
            <label for="ass" class="btn content-btn">Assignment
              <input type="radio" name="content" value="4" id="ass" style="visibility:hidden;" onclick="changeFourm(4)"/>
            </label>
            <label for="quiz" class="btn content-btn">Quiz
              <input type="radio" name="content" value="5" id="quiz" style="visibility:hidden;" onclick="changeFourm(5)" />
            </label>
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="hideitem" id="collapse01">
        <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="short title about the content"
        />
      </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor1"
              id="Text-content"
              cols="40"
              rows="5"
              placeholder="Add content..."
            ></textarea>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor2"
              id="Text-content"
              cols="40"
              rows="5"
              placeholder="Add references"
            ></textarea>
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time"
              class="form-control"
              id="time"
              placeholder="Time to complete"
            />
          </div>
         <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
        </div>
        <div class="hideitem" id="collapse02">

        <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="title1"
          name="title1"
          placeholder="short title about the content"
        />
      </div>
          <div class="mb-3">
            <input type="file" name="image" class="form-control" id="image" />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor3"
              id="image-content"
              cols="40"
              rows="5"
              placeholder="Add content..."
            ></textarea>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              name="editor4"
              id="Text-content2"
              cols="40"
              rows="5"
              placeholder="Add references"
            ></textarea>
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time1"
              class="form-control"
              id="time1"
              placeholder="Time to complete"
            />
          </div>
          <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
        </div>
        <div class="hideitem" id="collapse03">
          <div class="col-md-4">
            <label for="quiz">name of test</label>
            <input type="text" class="form-control"  placeholder="short name" name="quiz" id="quiz" />
            <label for="tp">totel points</label>
            <input type="text" class="form-control" name="tp" id="tp" placeholder="the maximum point"/>
            <label for="ts">points to pass</label>
            <input type="text" class="form-control" name="ts" id="tp" placeholder="the minimum point to pass"/>
            <label for="quiz_time">Time to finish</label>
            <input type="text" class="form-control" name="quiz_time" id="time03" placeholder="in minuts"/>
          </div>
          <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
        </div>
        <div class="hideitem" id="collapse04">
        <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="title3"
          name="title3"
          placeholder="short title about the content"
        />
      </div>
          <div class="mb-3">
            <input type="file" name="video" class="form-control" id="video" />
          </div>
          <div class="mb-3">
            <input
              type="text"
              name="time2"
              class="form-control"
              id="time2"
              placeholder="Time to complete"
            />
          </div>
          <input type="submit" class="btn btn-primary mbtn" value="Add to week" />
        </div>
      </div>
    </form>
  </div>
<div>
<h5 id="week-overview">Week overview</h5>
{% if content %}
<div class="container content-div">
  {% for item in content %}
  <a href="?id={{item.id}}" style="text-decoration: none;color: #000;">
  <div class="card content-card ">
  <div class="row">
    <div class="col-1">{{forloop.counter}}.</div>
    <div class="col-10">{{item.name}}</div>
    <div class="col-1 ">{{item.time}} minuts</div>
  </div>
</div></a>


  {% endfor %}

{% endif %}

<script>
    text_form = document.getElementById("collapse01");
    image_form =  document.getElementById("collapse02");
    video_form = document.getElementById("collapse04");
    quiz_form = document.getElementById("collapse03");
  function changeFourm(n){
    if (n==1){
      image_form.classList.add("hideitem")
      video_form.classList.add("hideitem")
      quiz_form.classList.add("hideitem")
      text_form.classList.remove("hideitem")

    }else if (n==2) {
      text_form.classList.add("hideitem")
      video_form.classList.add("hideitem")
      quiz_form.classList.add("hideitem")
      image_form.classList.remove("hideitem")
    }else if(n==3){
      image_form.classList.add("hideitem")
      text_form.classList.add("hideitem")
      quiz_form.classList.add("hideitem")
      video_form.classList.remove("hideitem")
    }else if(n==5){
      image_form.classList.add("hideitem")
      text_form.classList.add("hideitem")
      quiz_form.classList.remove("hideitem")
      video_form.classList.add("hideitem")
    }

  }
</script>
{% endblock %}